<div class="header">
  <div class="nobody">
    Добро пожаловать {{user ? user.login : 'незнакомец'}}!
    <button class="login" *ngIf="!user" routerLink="/login">Log In</button>
    <button class="logout" *ngIf="user" (click)="user = null">Log Out</button>
    <button class="basket" routerLink="/basket">
          <p>Корзина({{basket.totalCount}})</p>
          <p>Всего: {{basket.totalPrice}}$</p>
    </button>
  </div>
  <button class="add_book" *ngIf="user" routerLink="/add">Добавить книгу</button>
  <button class="main" routerLink="/">Главная</button>
</div>
<router-outlet></router-outlet>
