<div class="add_book_window">
  <form ngNativeValidate *ngIf="user" #addForm="ngForm" (ngSubmit)="onEdit(addForm.value); addForm.resetForm()">
    <input class="full" type="text" placeholder="название" name="name" ngModel required>
    <input class="year" type="number" placeholder="год" name="year" ngModel required>
    <input class="price" type="number" placeholder="цена" name="price" ngModel required>
    <input class="full" type="text" placeholder="описание" name="description" ngModel required>
    <input class="submit" type="submit" value="Изменить">
  </form>
  <div class="cheat" *ngIf="!user">Для добавления книг нужно авторизироватся!</div>
</div>
